@import '_vars';
@import 'modules/_message';

.helperBox {
	background-color: white !important;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	//box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#chatapp{
	color: #ed7663;
	font-family: 'Fredoka One', cursive;
}

body {
	font-family: 'Montserrat', sans-serif;
}

main {
	display: flex;
	height: 100%;
	overflow: auto;
	flex-direction: row;
	background: #E0EAFC;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #CFDEF3, #E0EAFC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.messages {
	flex: 2;
	background: #E0EAFC;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #CFDEF3, #E0EAFC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input,
textarea {
	display: block;
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6; 
	border-radius: 4px;
	font-size: 0.8rem;
	padding: 0.4rem;
	border-style: solid;
	background: #FFEFBA;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFFFFF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

textarea {
	height: 135px;
}



form {
	//background: #FFFFFF;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] {
		width: auto;
		padding: 10px;
		background: #000;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #96DEDA, #50C9C3);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #96DEDA, #50C9C3);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		margin-top: 1rem;
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Roboto Mono', monospace;
	}
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		padding: 5px 10px;
	}

	li:nth-child(odd) {
		background: #eee;
	}
}